p {
    margin-bottom: 0;
}

.code-sample {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: monospace, Menlo, Consolas;
    font-size: 14px;
    line-height: 1.2;
    padding: 10px 14px;
    border-left: 3px solid rgb(45, 184, 75);
}
